@font-face {
  font-family: "Rubik Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/rubik:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background-color: hsl(var(--nextui-background));
  background-image: radial-gradient(
    at 50% -10%,
    hsl(183.32deg 43.65% 44.06% / 34%) 5%,
    hsl(0deg 0% 0% / 45%) 90%
  );
}
.bg-dialog {
  background-color: hsl(var(--nextui-background));
  background-image: radial-gradient(
    at 90% 0%,
    hsl(183.32deg 43.65% 44.06% / 24%) 5%,
    hsl(0deg 0% 0% / 0%) 90%
  );
}
.art-video-player {
  --art-control-height: 60px;
}
